<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateLocation</servlet-name>
        <servlet-class>api.UpdateLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoUpdate</servlet-name>
        <servlet-class>api.PhotoUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserProfile</servlet-name>
        <servlet-class>api.GetUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServerAccess</servlet-name>
        <servlet-class>api.GetServerAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PokeUpdate</servlet-name>
        <servlet-class>api.PokeUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPhoto</servlet-name>
        <servlet-class>api.GetPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPoke</servlet-name>
        <servlet-class>api.GetPoke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePDFProfile</servlet-name>
        <servlet-class>api.CreatePDFProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLocation</servlet-name>
        <url-pattern>/UpdateLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoUpdate</servlet-name>
        <url-pattern>/PhotoUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserProfile</servlet-name>
        <url-pattern>/GetUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServerAccess</servlet-name>
        <url-pattern>/GetServerAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PokeUpdate</servlet-name>
        <url-pattern>/PokeUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPhoto</servlet-name>
        <url-pattern>/GetPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPoke</servlet-name>
        <url-pattern>/GetPoke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePDFProfile</servlet-name>
        <url-pattern>/CreatePDFProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>ConstraintHTTPS</display-name>
        <web-resource-collection>
            <web-resource-name>ProfilesServiceResource</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
